In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [20]:
#loading a csv file
df= pd.read_csv(r"C:\Users\ASUS\Desktop\machine_learning_projects\project_1\sonar data.csv",header=None)

In [21]:
df.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
190,0.0156,0.0210,0.0282,0.0596,0.0462,0.0779,0.1365,0.0780,0.1038,0.1567,...,0.0150,0.0060,0.0082,0.0091,0.0038,0.0056,0.0056,0.0048,0.0024,M
135,0.0094,0.0611,0.1136,0.1203,0.0403,0.1227,0.2495,0.4566,0.6587,0.5079,...,0.0234,0.0175,0.0352,0.0158,0.0326,0.0201,0.0168,0.0245,0.0154,M
155,0.0211,0.0128,0.0015,0.0450,0.0711,0.1563,0.1518,0.1206,0.1666,0.1345,...,0.0117,0.0023,0.0047,0.0049,0.0031,0.0024,0.0039,0.0051,0.0015,M
25,0.0201,0.0026,0.0138,0.0062,0.0133,0.0151,0.0541,0.0210,0.0505,0.1097,...,0.0108,0.0070,0.0063,0.0030,0.0011,0.0007,0.0024,0.0057,0.0044,R
124,0.0388,0.0324,0.0688,0.0898,0.1267,0.1515,0.2134,0.2613,0.2832,0.2718,...,0.0255,0.0071,0.0263,0.0079,0.0111,0.0107,0.0068,0.0097,0.0067,M

In [22]:
#there contains any null values or not
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [23]:
#number of rows and column
df.shape

(208, 61)

In [24]:
#to look the overview of data such as mean, std etc
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [26]:
#finding the unique value of the output column
df[60].unique()

array(['R', 'M'], dtype=object)

In [28]:
#seperating the input and the target label
X= df.drop(columns=60, axis= 1)
y= df[60]

In [34]:
X_train, X_test, y_train,y_test= train_test_split(X,y,test_size= 0.1)

In [36]:
model= LogisticRegression()

In [37]:
model.fit(X_train, y_train)

LogisticRegression()

In [40]:
X_train_prediction = model.predict(X_train)

In [41]:
X_train_prediction

array(['M', 'R', 'M', 'R', 'R', 'M', 'R', 'M', 'M', 'R', 'R', 'M', 'M',
       'R', 'M', 'M', 'R', 'R', 'R', 'M', 'M', 'R', 'R', 'M', 'R', 'R',
       'R', 'M', 'M', 'R', 'M', 'R', 'R', 'M', 'R', 'M', 'R', 'M', 'R',
       'R', 'R', 'M', 'M', 'M', 'M', 'R', 'M', 'R', 'R', 'R', 'M', 'M',
       'R', 'R', 'R', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'R', 'R', 'R',
       'M', 'M', 'R', 'M', 'R', 'M', 'R', 'M', 'R', 'R', 'M', 'M', 'R',
       'R', 'M', 'M', 'M', 'R', 'R', 'M', 'R', 'M', 'M', 'R', 'M', 'M',
       'M', 'M', 'M', 'R', 'M', 'R', 'M', 'M', 'R', 'M', 'M', 'M', 'M',
       'R', 'R', 'M', 'R', 'M', 'M', 'R', 'M', 'R', 'M', 'M', 'M', 'R',
       'R', 'M', 'R', 'M', 'R', 'M', 'M', 'R', 'R', 'R', 'R', 'R', 'M',
       'M', 'M', 'M', 'M', 'M', 'R', 'M', 'R', 'M', 'R', 'M', 'M', 'R',
       'R', 'R', 'M', 'R', 'R', 'M', 'M', 'M', 'R', 'M', 'M', 'M', 'M',
       'M', 'M', 'R', 'R', 'R', 'M', 'R', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'R', 'M', 'R', 'R', 'M', 'M', 'M', 'R',
       'M', 'M', 'R', 'M', 'R'], dtype=object)

In [42]:
accuracy= accuracy_score(X_train_prediction, y_train)

In [43]:
accuracy

0.839572192513369

In [44]:
print('Accuracy score for training data:', accuracy)

Accuracy score for training data: 0.839572192513369

In [45]:
X_test_prediction = model.predict(X_test)

In [46]:
X_test_prediction

array(['M', 'M', 'R', 'R', 'M', 'M', 'R', 'M', 'R', 'R', 'R', 'M', 'R',
       'M', 'R', 'R', 'M', 'R', 'R', 'R', 'R'], dtype=object)

In [48]:
print('Accuracy score for testing data:', accuracy_score(X_test_prediction, y_test))

Accuracy score for testing data: 0.8095238095238095

In [57]:
data= (0.0363,0.0478,0.0298,0.0210,0.1409,0.1916,0.1349,0.1613,0.1703,0.1444,0.1989,0.2154,0.2863,0.3570,0.3980,0.4359,0.5334,0.6304,0.6995,0.7435,0.8379,0.8641,0.9014,0.9432,0.9536,1.0000,0.9547,0.9745,0.8962,0.7196,0.5462,0.3156,0.2525,0.1969,0.2189,0.1533,0.0711,0.1498,0.1755,0.2276,0.1322,0.1056,0.1973,0.1692,0.1881,0.1177,0.0779,0.0495,0.0492,0.0194,0.0250,0.0115,0.0190,0.0055,0.0096,0.0050,0.0066,0.0114,0.0073,0.0033)
data_array= np.asarray(data).reshape(1,-1)

In [58]:
prediction= model.predict(data_array)

In [59]:
print(prediction)

['M']

In [60]:
if prediction[0]=='R':
    print('The object is  rock')
else:
    print("The object is  mine")

The object is  mine